<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Клиенты</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav>
  <ul>
    <li><a th:href="@{/client}">Клиенты</a></li>
    <li><a th:href="@{/commit}">Совершает</a></li>
    <li><a th:href="@{/deal}">Сделка</a></li>
    <li><a th:href="@{/employee}">Сотрудник</a></li>
    <li><a th:href="@{/pays}">Платит</a></li>
    <li><a th:href="@{/post}">Должность</a></li>
    <li><a th:href="@{/tax}">Налог</a></li>
  </ul>
</nav>
<h1>Клиенты</h1>
<form th:action="@{/client/add}" method="post">
  <input type="text" name="full_name" placeholder="ФИО" required>
  <select name="employee" required>
    <option selected disabled>Выберите сотрудника</option>
    <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.full_name}"/>
  </select>
  <button type="submit">Добавить</button>
</form>
<table>
  <thead>
  <tr>
    <th>ФИО</th>
    <th>Сотрудник</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="client : ${clients}">
    <td th:text="${client.full_name}"></td>
    <td th:text="${client.employee.full_name}"></td>
    <td>
      <form th:action="@{/client/delete/{id}(id=${client.id})}" method="post">
        <button type="submit">Удалить</button>
      </form>
    </td>
    <td>
      <form th:action="@{'/client/' + ${client.id}}">
        <button type="submit">Редактировать</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>